<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 中间包 -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--        Mybatis配置文件所在位置-->
        <property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"></property>
        <!--        数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--不加*，表示只能从当前项目加载配置文件-->
        <property name="mapperLocations" value="classpath*:/mybatis/mapper/*.xml"></property>

        <!--配置 https://pagehelper.github.io/-->
        <property name="plugins">
            <bean class="com.github.pagehelper.PageInterceptor">
                <property name="properties">
                    <value>
                        <!--数据库方言为mysql，合理化为true-->
                        reasonable=true
                    </value>
                    <!--分页合理化-->
                </property>
            </bean>
        </property>

    </bean>

    <!-- 映射dao接口，实现dao接口，并放入容器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.atguigu.atcrowdfunding.mapper"></property>
    </bean>


</beans>
